{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<h1>{{ args.title }}</h1>

<form name="input" action="/searchauthortofindcoauthors" method="get">
		<tr>
			<td>
				<input type="text" name="author" id="author" />
			</td>
			<td>
				<input type="submit" value="Search" />
			</td>
		</tr>

	</form>
<p>
		{{ args.author }}
	</p>
	<br />
	
<table border="1" id="myTable" class="tablesorter">
		<tbody>
		
			<td>
				{% for column in args.data %}
      				<tr>{{ column }}</tr>
      				<br />
    			{% endfor %}
				</td>
			</tbody>
		</table>
{% endblock %}
