{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="wrapper row2">
 <div id="intro">
   <section class="last">
       <ul class="nospace clear">
        <li class="one_quarter first"><article><div class="boxholder push30"><img src="../static/imgs/1.png"></div><a href="/statisticsdetails/publication_summary"><h1>Publication Summary</h1></a></article></li>
        <li class="one_quarter"><article><div class="boxholder push30"><img src="../static/imgs/2.png"></div><a href="/statisticsdetails/publication_author"><h1>Publication by Author</h1></a></article></li>
        <li class="one_quarter"><article><div class="boxholder push30"><img src="../static/imgs/3.png"></div><a href="/statisticsdetails/first_publication_author"><h1>First Publications by Author</h1></a></article></li>
        <li class="one_quarter"><article><div class="boxholder push30"><img src="../static/imgs/4.png"></div><a href="/statisticsdetails/last_publication_author"><h1>Last Publications by Author</h1></a></article></li>
        <li class="one_quarter first"><article><div class="boxholder push30"><img src="../static/imgs/5.png"></div><a href="/statisticsdetails/publication_year"><h1>Publication by Year</h1></a></article></li>
        <li class="one_quarter"><article><div class="boxholder push30"><img src="../static/imgs/6.png"></div><a href="/statisticsdetails/author_year"><h1>Author by Year</h1></a></article></li>
        <li class="one_quarter"><article><div class="boxholder push30"><img src="../static/imgs/7.png"></div><a href="/averages"><h1>Averaged Year Data</h1></a></article></li>
        <li class="one_quarter"><article><div class="boxholder push30"><img src="../static/imgs/8.png"></div><a href="/coauthors"><h1>Co-Authors</h1></a></article></li>
        <li class="one_quarter first"><article><div class="boxholder push30"><img src="../static/imgs/1.png"></div><a href="/searchauthor"><h1>Search Author</h1></a></article></li>
        <li class="one_quarter"><article><div class="boxholder push30"><img src="../static/imgs/2.png"></div><a href="/searchauthortofindcoauthors"><h1>Search Author To Find Co-Authors</h1></a></article></li>
        <li class="one_quarter"><article><div class="boxholder push30"><img src="../static/imgs/3.png"></div><a href="/soleauthor"><h1>Sole Authors</h1></a></article></li>
        <li class="one_quarter"><article><div class="boxholder push30"><img src="../static/imgs/4.png"></div><a href="/authorsDegOfSep"><h1>Degree of Separation</h1></a></article></li>
       </ul>
   </section>
 </div>
</div>
{% endblock %}
